<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Routing name="TestRouting">
            <Routes pattern="${ctx:testName}">
                <Route>
                    <File name="File-${ctx:testName}"
                          fileName="test-output/${ctx:testName}-${ctx:threadId}.log">
                        <PatternLayout
                                pattern="[%d{HH:mm:ss}] [%-5level] %c{1}:%L - %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>

        <Console name="Console">
            <PatternLayout
                    pattern="[%d{HH:mm:ss}] [%-5level] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${sys:logLevel:-INFO}">
            <AppenderRef ref="TestRouting"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>